<div mat-dialog-title>
    <h1>Lozinka</h1>
</div>
<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <div mat-dialog-content>
        <div class="row">
            <mat-form-field>
                <mat-label>Lozinka</mat-label>
                <input matInput formControlName="passwordPassword">
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action">
            <button mat-raised-button color="primary" type="submit">{{ 'Save' }}</button>
            <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    </div>
</form>
