<div mat-dialog-title>
    <h1>Dodaj obrok</h1>
</div>
<form [formGroup]="nutritionForm" (ngSubmit)="onSubmit()">
    <div mat-dialog-content>
        <div class="row">
            <mat-form-field>
                <mat-label>Vrijeme</mat-label>
                <input matInput type="time" formControlName="prehranaVrijeme">
            </mat-form-field> 
            <mat-form-field>
                <mat-label>Hrana</mat-label>
                <mat-select formControlName="prehranaHrana">
                    <mat-option *ngFor="let food of data.foodData" [value]="food.naziv">{{ food.naziv }}</mat-option>
                </mat-select>
            </mat-form-field> 
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button color="primary" type="submit">{{ 'Save' }}</button>
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    </div>
</form>
